        - name: modules
          configMap:
            name: nakama-modules
            items:
              - key: games_init.lua
                path: games/init.lua
              - key: games_rps.lua
                path: games/rps.lua
              - key: lobby_rpc.lua
                path: lobby_rpc.lua
              - key: main.lua
                path: main.lua
              - key: room.lua
                path: room.lua
              - key: rules_room_rules.lua
                path: rules/room_rules.lua
              - key: rules_rps_rules.lua
                path: rules/rps_rules.lua
